extends layout

block content
  title= title
  div(id="container")
    h1 #{title}
    form(name="Log In", action="/secrets", method="post", id="loginForm")
      input(type="text", name="user", placeholder="Username...", class="loginPage")
      input(type="password", name="pass", placeholder="Password...", class="loginPage")
      input(type="submit", value="Log In", class="loginPage")
