extends layout

block content
  p Please #{title} with your details
  div(id="container")
    form(name="Log In", action="/index", method="POST")
      input(type="text", name="user", placeholder="Username...")
      input(type="password", name="pass", placeholder="Password...")
      input(type="submit", value="Log In")
