extends layout
block content
    title= title
    div(id="secretsContainer")
        h2( class="secHeading") Add a secret:
        form(name="Secrets", action="/addSecret", method="post")
            input(type="text", name="theSecret", placeholder="Enter your secret")
            input(type="submit", value="Save Secret", class="btn")
        - var secrets = mySecrets;
        h2( class="secHeading") My secrets:
        ul(class='ul-style')
          each secret in secrets.length ? secrets : [""]
            li= secret.info
                a(href='/deleteSecret/#{secret.id}') * Delete this secret *
        form(name="Go Back", action="/index", method="post")
            input(type="submit", value="Go Back", class="btn")