extends layout

block content
    title= title
    h2 Add a secret:
    form(name="Secrets", action="/addSecret", method="post")
        input(type="text", name="theSecret", placeholder="Enter your secret")
        input(type="submit", value="Save Secret")
    br
    ul
        each secret, i in mySecrets
            li= secret.info
    br
    form(name="Go Back", action="/index", method="post")
        input(type="submit", value="Go Back")